/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url(https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap);

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white !important;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn {
    border-radius: 12px;
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: #FFF;
    font-weight: bold;
    width: 100%;
}

    .btn:hover, .btn:focus, .btn:active {
        background-color: #A18838;
        border-color: #A18838;
        color: #FFF;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link-yellow {
    color: #D4AF37 !important;
}

.admin-info {
    width: 400px;
    min-height: 180px;
    max-height: 180px;
}

.btn-bottom {
    position: absolute;
    bottom: -20px;
    right: 20px;
    left: 20px;
    width: 90%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0f0c29, #190061, #24243e) !important;
    font-family: 'Jost', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

table {
    width: 1000px;
}

    table th, td {
        padding: 10px;
    }

.table-wrapper {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

    .table-wrapper table {
        min-width: 120px;
    }

i:hover {
    cursor: pointer;
}

.submit-btn-group-left {
    width: 50%;
    float: left;
}

.submit-btn-group-right {
    width: 50%;
    float: right;
}

.fancyTable {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #ffc107, #5f2c82);
    margin-top: 30px;
}

    .fancyTable th, .fancyTable td {
        padding: 15px;
        color: #fff;
        text-align: center;
    }

    .fancyTable thead th {
        background-color: #55608f;
    }

    .fancyTable tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .fancyTable tbody td {
        position: relative;
    }

        .fancyTable tbody td:hover:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
        }

.chkYellow {
    accent-color: yellow;
}

.filterTableLabelCell {
    text-align: right;
}

.filterTableLabelCellCenter {
    text-align: center;
}

.filterTableSelectCenter {
    color: #495057;
    width: 30%;
    display: block;
    margin: 0 auto;
}
