@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Регистриране на нов потребител</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Създай нов акаунт:</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Input.Email">Имейл:</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Input.FirstName">Име:</label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName">Фамилия:</label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <label asp-for="Input.UserName">Потребителско име:</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Input.Password">Парола:</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Потвърдете паролата:</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div>
                <label asp-for="Input.PhoneNumber">Телефонен номер:</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            @*<div class="roles">
                <label asp-for="Input.Role">Роля:</label>
                <select id="roles" asp-for="Input.Role" onchange="ShowClassField()">
                    <option></option>
                    <option value="ADMIN">Администратор</option>
                    <option value="MANAGER">Мениджър</option>
                    <option value="EMPLOYEE">Служител</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>*@

            <button type="submit" class="btn btn-danger">Регистрирай</button>
        </form>
    </div>    
</div>
<script src="~/js/student.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
