@{
    ViewData["Title"] = "Администратор начална страница";
}

@if (ViewData.ModelState.ContainsKey("invalidUserRole"))
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["invalidUserRole"].Errors.FirstOrDefault()?.ErrorMessage
    </div>
}
else
{
    <div class="text-center" style="color: white;">
        <h1 class="display-4">Добре дошли!</h1>
        <p>Администратор</p>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-6">
            <div class="card admin-info" style="float: right;">
                <div class="card-body">
                    <h5 class="card-title text-center">Всички потребители</h5>
                    <p class="card-text">В EmpowerFlow взимат участие @ViewBag.AllUsersCnt потребителя.</p>
                    <a class="btn btn-block btn-bottom" asp-area="" asp-controller="User" asp-action="ActivateUsers">Прегледай</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card admin-info" style="float: left;">
                <div class="card-body">
                    <h5 class="card-title text-center">Управление на потребители</h5>
                    <p class="card-text">В момента има @ViewBag.AllInactiveUsersCnt изчакващи потребителя за активиране на дoстъпа до системата.</p>
                    <a class="btn btn-block btn-bottom" asp-area="" asp-controller="User" asp-action="ActivateUsers">Прегледай</a>
                </div>
            </div>
        </div>
    </div>
}